button {
  width: 100%;
  /* width: 30.125rem; */
  margin-top: 40px;
  height: 56px;
  background: transparent;
  color: var(--color-content-primary);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 10;

  font: var(--font-label-medium);
  line-height: 0;

  & span,
  & img {
    z-index: 1;
  }

  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: var(--color-background-tertiary);
    width: inherit;
    height: inherit;
    border-radius: 8px;
    z-index: -1;
  }
  &:hover {
    background: var(--linear-gradient-border);
    animation: changeGradient 500ms 0ms infinite linear;

    /* & img {
        animation: changeIconPlace 2s 0ms infinite ease-in-out;
      } */
    &::after {
      background: var(--color-background-secondary);
      width: 99.34%;
      height: 52.8px;
    }

    img {
      animation: arrowMove 1s infinite ease-in-out;
    }
  }
}

button#draw-again {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

button#draw-again img {
  transition: transform 0.3s ease;
}

button#draw-again:hover img {
  animation: rotateIcon 1.2s linear infinite;
}

@keyframes changeGradient {
  0% {
    background: linear-gradient(
      192.78deg,
      #77c0af 9.02%,
      #d1dc97 21.38%,
      #e9a9b3 35.8%,
      #d586e0 63.82%,
      #91a1fa 79.48%
    );
  }
  20% {
    background: linear-gradient(
      91.26deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }
  40% {
    background: linear-gradient(
      271.26deg,
      #77c0af 0.52%,
      #d1dc97 15.36%,
      #e9a9b3 32.67%,
      #d586e0 66.31%,
      #91a1fa 85.11%
    );
  }
  60% {
    background: linear-gradient(
      192.78deg,
      #77c0af 9.02%,
      #d1dc97 21.38%,
      #e9a9b3 35.8%,
      #d586e0 63.82%,
      #91a1fa 79.48%
    );
  }
  80% {
    background: linear-gradient(
      91.26deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }
  100% {
    background: linear-gradient(
      271.26deg,
      #77c0af 0.52%,
      #d1dc97 15.36%,
      #e9a9b3 32.67%,
      #d586e0 66.31%,
      #91a1fa 85.11%
    );
  }
}

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
