/* here we just have the logo to setting up the style */
header {
  .header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3.5px;
    font: var(--font-display-medium2);
    color: var(--color-content-primary);
    margin-top: 76px;
    margin-bottom: 89px;
    width: 1098px;
    height: 38px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
}
