@media screen and (max-width: 390px) {
  header {
    margin-bottom: 10px;
    .header-logo {
      max-width: 390px;
      justify-content: center;
    }
  }

  main {
    width: 100%;
    max-width: 390px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 390px;
      gap: 0;
      align-items: center;
      .container-titles {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        max-width: 390px;
        order: -3;

        .container-title {
          h2 {
            width: 319px;
            height: 24px;
            font: var(--font-overline);
          }
          h1 {
            font: var(--font-display-medium);
            width: 319px;
            height: 154px;
          }
        }
        .container-paragraphs {
          order: 1;
          width: 319px;
          margin-top: 10px;
          .container-paragraph {
            order: 0;
            width: 319px;
            height: 75px;

            &:nth-child(1) {
              h3 {
                margin-bottom: 21px;
                width: 291px;
                font: var(--font-paragraph-medium);
              }
            }

            &:nth-child(2) {
              h3 {
                /* margin-bottom: 5px; */
                width: 291px;
                font: var(--font-paragraph-medium);
              }
            }
            h3 {
              width: 291px;
              font: var(--font-paragraph-medium);
            }
            p {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 319px;
              font: var(--font-paragraph-small);
            }
          }
        }
      }

      .container-form {
        order: -4;
        width: 319px;
        height: 459px;
        .container-form-paragraph {
        }
      }

      .container-result-numbers {
        width: 339px;
      }
    }
  }

  button#draw-again {
    width: 319px;
  }
}
